.ensime
.ensime_cache
target
parsetree*
flowgraph*
forcegraph*
test/realdata
scripts/.python-version
*.swp
scripts/parsedCodes
scripts/Codes-*
scripts/output*.csv
scripts/Lab*
analysis
todo
matrix_*
test/db
errlog
