<!DOCTYPE html>
<html lang="">
  <head>
    <title>Tipsy Program Submission Admin Panel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

    <script type="text/javascript" src="node_modules/node-snackbar/dist/snackbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/node-snackbar/dist/snackbar.min.css" />

    <script>
      $('body').bootstrapMaterialDesign();
    </script>

    <body>
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Tipsy Admin Panel</h1>
        <p>Prutor</p>
      </div>

      <div class="container">
        <div class="row">
        <h1 style="margin:auto;">Analyze programs</h1>
          <div id="editor" style="width: 100%; min-height: 300px;"></div>
          <div class="row" style="margin:auto;">
            <button class="btn btn-success" onclick="addToDB()">
              Save to database
            </button>
            <button class="btn btn-success" onclick="showSol()">
              Show first known solution
            </button>
            <button class="btn btn-info" onclick="findCorr()">
              Find corrections
            </button>

            <div class="dropdown show">
              <a class="btn btn-secondary dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Question ID
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                   id="question-dropdown">
                <input type="text" class="form-control floating-label dropdown-item"
                       placeholder="Question ID"
                       style="width: 90%;">
              </div>
            </div>
          </div>
        </div>

        <div class="card" style="margin-top: 20px;">
          <div class="card-body">
            <div class="card-header">
            <h4>Corrections</h4>
            <p id="quesCnt"></p>
            </div>
            <pre style="padding:15px;">
              <code id="results"></code>
            </pre>
          </div>
        </div>

      <!-- Ace Editor -->
      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
      <script src="custom.js"></script>
  </head>

</body>
</html>
